{% extends 'bedding_store/base.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-1">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Кошик</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Ваші замовлення.</p>
                </div>
            </div>
        </header>
        <br/>
        <div class="container">
            {% if cart_products %}
            {% for product in cart_products %}
                <div class="card mb-3">
                 <div class="row g-0">
                  <div class="col-md-4">
                   <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                  </div>
                  <div class="col-md-8">
                   <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                       {% if product.is_sale %}

        <div class="badge bg-info text-black position-absolute" style="top: 0.5rem; right: 0.5rem"> Знижка!!! </div>
        <!-- Product price-->
        <strike> {{ product.price }} грн </strike>
        &nbsp
        {{ product.sale_price }} грн
        <br/> Код товару: {{ product.id }}
    {% else %}
        {{ product.price }} грн
        <br/> Код товару: {{ product.id }}
    {% endif %}
    <br/><br/>
    <br/><br/>
    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'home' %}">На головну сторінку</a></div>
                   </div>
                  </div>
                 </div>
                </div>
            {% endfor %}
            {% else %}
            <br/><br/><br/>
             <h3 style="text-align: center">В Вашому кошику поки що немає товарів...</h3>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            {% endif %}
        </div>

{% endblock %}
