{% extends 'bedding_store/base.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-1">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Кошик</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Ваші замовлення.</p>
                </div>
            </div>
        </header>
        <br/>
        <div class="container">
            {% if cart_products %}
            {% for product in cart_products %}
                <div class="card mb-3">
                 <div class="row g-0">
                  <div class="col-md-4">
                   <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                  </div>
                  <div class="col-md-8">
                   <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                       {% if product.is_sale %}

        <div class="badge bg-info text-black position-absolute" style="top: 0.5rem; right: 0.5rem"> Знижка!!! </div>
        <!-- Product price-->
        <strike> {{ product.price }} грн </strike>
        &nbsp
        {{ product.sale_price }} грн
        <br/> Код товару: {{ product.id }}
    {% else %}
        {{ product.price }} грн
        <br/> Код товару: {{ product.id }}
    {% endif %}
    <br/><br/>
     <div class="row justify-content-center">
                       <div class="col-md-2">Кількість</div>
                        <div class="col-md-2">
    <select class="form-select form-select-sm" id="select{{product.id}}">
              {% for key, value in quantities.items %}
           {% if key == product.id|slugify %}
        <option selected> {{ value }} </option>
        {% endif %}
         {% endfor %}

     <option value="1">1</option>
     <option value="2">2</option>
     <option value="3">3</option>
     <option value="3">4</option>
     <option value="3">5</option>
     <option value="3">6</option>
     <option value="3">7</option>
    </select>
                        </div>
                       </div>
    <br/><br/>
    <a class="btn btn-outline-dark mt-auto" href="{% url 'home' %}">На головну</a>
    <br/><br/>
    <button type="button" data-index="{{ product.id }}" class="btn btn-outline-dark mt-auto update-cart">Оновити</button>
                   </div>
                  </div>
                 </div>
                </div>
            {% endfor %}
            {% else %}
            <br/><br/><br/>
             <h3 style="text-align: center">В Вашому кошику поки що немає товарів...</h3>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            {% endif %}

        </div>
<br/><br/>

<script>
    // Check if button pressed
    $(document).on('click', '.update-cart', function (e){
        e.preventDefault();
        // Grab the product id
        var productid = $(this).data('index');

        $.ajax({
            type: 'POST',
            url: "{% url 'cart_update' %}",
            data: {
                product_id: $(this).data('index'),
                product_qty: $('#select' + productid + ' option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function (json){
                //console.log(json)
                //document.getElementById('cart_quantity').
                //textContent = json.qty
                location.reload();
                },
            error: function (xhr, errmsg, err){
                }
        })
    })




</script>

{% endblock %}
