{% extends 'bedding_store/base.html' %}
{% block content %}

<header class="bg-dark py-5" xmlns:>
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Про нас</h1>
            <p class="lead fw-normal text-white-50 mb-0">Вітаємо Вас в нашій інтернет-крамниці постільної білизни Sleep Well!</p>
        </div>
    </div>
</header>

<div class="container">
     <div class="row" >
         <center>
              <div class="col-8">
                  <p style="text-align: justify">
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      Ми маємо на меті створити затишок, про який можна лише мріяти. Обираючи нас, ви обираєте себе, адже
                отримуєте від користування продукції лише позитивні емоції. Ми пропонуємо вашій увазі постільні комплекти,
                подушки, домашній текстиль, що дарують не лише фізичний, а й душевний комфорт. Всі наші товари створені
                з натуральних, якісних та безпечних матеріалів, бо ми дбаємо про кожного клієнта. Постільна білизна
                українського виробника, як і теплі пледи, виконують не лише функціональне призначення. Вони впливають на ваш
                настрій, формування думок та налаштовують на приємний відпочинок.
                  <br/><br/>
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      Кожен наш товар — це прояв любові та турботи до клієнтів. Створюючи текстиль, ми вкладаємо частинку
                      своєї душі,щоб принести вам приємні враження.З нами похід у SPA, відпустка, сон та вихідні у колі
                      рідних стануть незабутніми.
                  <br/><br/>
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      Виробник постільної білизни Sleep Well надасть вам можливість проявити свою унікальність та неповторність
                      навіть у таких буденних речах. Наші колекції охоплюють різноманітність стилів, кольорів, фасонів, щоб точно
                      задовольнити бажання навіть самих вибагливих споживачів. Ми гарантуємо високу якість пошиття, особливу
                      відповідальність під час вибору матеріалів та доступні ціни. За розумні гроші ви отримуєте текстиль,
                      виготовлений з імпортної тканини, приємної на дотик та дійсно красивої.
                  <br/><br/>
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      Наша ціль — перенести вас у світ затишку та тепла, відволіктись від важких новин та рутинних проблем. Ми
                      розуміємо, що оцінити якість важко візуально, але повірте: коли ви вперше торкнетесь нашого текстилю,
                      захочете засинати та прокидатись тільки в його обіймах. В онлайн-каталозі ви знайдете все те, що додасть
                      родзинку до дизайну спальні, вітальні чи дитячої кімнати. Ми працюємо, щоб ви відпочивали, адже наша постільна
                      білизна, простирадла, пледи, одяг для дому найкращої якості. Краще знайти неможливо, бо ми вже його створили!
                  <br/><br/>
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      Дізнайтесь, що таке справжній домашній затишок, разом з Sleep Well.
                  </p>
              </div>
</center>
     </div>
</div>

{% endblock %}
